/*Variables*/
:root{
    /*Primary colour palette for text & components*/
    --primaryBackground:#000000;
    --mainGreen:#33FF00;
    --subtleGreen:#4d7d53;
    --errorRed:#FE0100;
    --accentYellow:#f8f80e;
    --highlightWhite:#f7f7f7;

 

    /*Secondary colour palette for text & components | Change to this palette when screen turns red*/
    --secondaryBackground:#8B0018;
    --secondaryOrange:#EDEDED;
    --secondaryRed:#EE0053;
    --secondaryGreen:#D5FF2E;
    --secondarytBlue:#82E9EA;
    --secondaryGray:#F2F4F0;

    /*Font Sizes*/
    --h1Size:48px;
    --h2Size:28px;
    --h3Size:21px;
    --bodySize:18px;
}

/*-----------------------------------------------------------------*/

video{
    width:100%;
    display:block;
}

.video{
    width:300px;
    position:fixed;
    bottom:75px;
    left:40px;
    border:solid 1px var(--subtleGreen);
}

#video-fade{
    opacity:0;
    animation: video-fade 2s 1s ease forwards;
}

@keyframes video-fade{
    from{opacity:0;}
    to{opacity:1;}
}

/*-----------------------------------------------------------------*/

/*Website display configurations*/
body{
    display:grid;
    margin:3em;
    overflow-y:hidden;
    /*overflow-y:scroll;*/

    /*Website typeface*/
    font-family:'JetBrains Mono';

    /*Website background colour*/
    background-color: var(--primaryBackground);  
}

/*-----------------------------------------------------------------*/

/*Scrollbar config*/
::-webkit-scrollbar{
    width:10px;
    background-color: #000000;
}

::-webkit-scrollbar-track {
    background-color:#8c8c8c52;
    margin-top:50px;
    margin-bottom:50px;
}

::-webkit-scrollbar-thumb {
    background-color:var(--mainGreen); 
    width:10px;
}

/*-----------------------------------------------------------------*/

/*Grid Containers*/
div.content-container{
    margin:20px;
    overflow-y:hidden;
    overflow-x:hidden;
    width:auto;
    height:fit-content;

}

div.containerRight{
    margin-left:auto;
}

.number-list{
    float:left;
    padding-left:10px;
    text-align:right;
}

.text-container{
    align-content:center;
    padding:0px 80px 0px 80px;
    height:fit-content;
    display:flex; 
    flex-direction: column;
}

.section-6{
    grid-area:footer;
    align-items:center;
    text-align:center;
    padding:0px 20px 0px 20px;
    margin: 0px 10px 0px 10px;

    /*Section visual config*/
    border:1px solid white;
}

/*-----------------------------------------------------------------*/

/*Font types*/
h1{
    font-size: var(--h1Size);
    color:var(--mainGreen);
    font-weight: 400;
    margin-top:5px;
}

h2{
    font-size:var(--h2Size);
    color:var(--mainGreen);
    font-weight:400;
    margin-top:5px;
}

h3{
    font-size:var(--h3Size);
    color:var(--mainGreen);
    font-weight:400;
    margin-top:5px;
}

p{
    font-size:var(--bodySize);
    color:var(--mainGreen);
    margin-top:5px;
    line-height:1.6;
}


/*Span Text Layouts to allow for inline text, otherwise there's too much of a gap around the block elements (h1,h2,h3, etc)*/
.spanHeading{
    font-size: var(--h1Size);
    color:var(--mainGreen);
    font-weight: 800;
    margin-top:5px;
    margin-right:0;
    padding:0;
}

.spanSubheading{
    font-size: var(--h2Size);
    color:var(--mainGreen);
    font-weight: 400;
    margin-top:5px;
    margin-right:0;
    padding:0;
}

#inlineText h1,
#inlineText p {
    display: inline;
    vertical-align:baseline;
    line-height:1.6;
}

/*-----------------------------------------------------------------*/

/*For paragraph breaks*/
h4{
    font-size:16px;
    color:var(--subtleGreen);
    text-align: center; 
    border-bottom: 1px dashed var(--subtleGreen); 
    line-height: 0.1em;
    margin: 10px 0 20px;
}

/*For the background of the paragraph break*/
h4 span{ 
    background:var(--primaryBackground); 
    padding:0 10px; 
}

.breakLine{
    width:200px; 
    justify-content:center; 
    margin-left:auto; 
    margin-right:auto; 
    margin-top:100px;
    margin-bottom:100px;
}

/*Vertical connecting line between sentences*/
.vertical-line{
    width: 1px;
    background-color:var(--subtleGreen);
    height: 100%;
    float: left;
}

/*-----------------------------------------------------------------*/

/*Text Layout*/
.justifyRight{
    margin-left:auto;
    text-align:right;
}

/*Breaks between sentences in the paragraph*/
.break10{
    height:10vh;
}

.break20{
    height:20vh;
}

/*Text Box Dimesions (Sometimes it doesn't work so I have to put style in the div box anyways*/
.width50{
    width:50%;
}

.width60{
    width:60%;
}

.width70{
    width:70%;
}

.width80{
    width:80%;
}

.width90{
    width:90%;
}

/*-----------------------------------------------------------------*/

/*Text Colours*/
.textGreen{ 
    color:var(--mainGreen);
}

.textRed{ /*Used to emphasise something bad, negative or evil*/
    color:var(--errorRed);
}

.textSubtlegreen{ /*For comments, captions, inner monologue*/
    color:var(--subtleGreen);
}

.textYellow{ /*To highlight certain phrases and put emphasis or to denote something as positive*/
    color: var(--accentYellow);
}

.textBlack{ /*Used to contrast boxed text and make the text visible*/
    color:var(--primaryBackground);
}

.textBlue{ /*Used for one specific line*/
    color:#35d7ff;
}

#gradient-text-toRed{
    background-image: linear-gradient(var(--mainGreen), var(--errorRed));
    color: transparent;
    background-clip: text;
}

#gradient-text-toBlack{
    background-image: linear-gradient(180deg,rgba(254, 1, 0, 1) 51%, rgba(254, 1, 0, 0.4) 100%);
    color: transparent;
    background-clip: text;
}

.blur{
    height: 600px;
    -webkit-mask-image: linear-gradient(black, transparent);
    mask-image: linear-gradient (black, transparent);
}

/*-----------------------------------------------------------------*/

/*Text Box Colours*/
.boxRed{
    background-color:var(--errorRed); 
    color:var(--primaryBackground); 
    padding-left:5px;
    padding-right:5px;
    font-weight: 800; 
    width:fit-content;
}

.boxYellow{
    background-color:var(--accentYellow); 
    color:var(--primaryBackground); 
    padding-left:5px;
    padding-right:5px;
    font-weight: 800; 
    width:auto;
}

.boxGreen{
    background-color:var(--mainGreen); 
    color:var(--primaryBackground); 
    padding-left:5px;
    padding-right:5px;
    font-weight: 800; 
    width:fit-content;
}

/*-----------------------------------------------------------------*/

/*Font Styles*/
.italic{
    font-style: italic;
}

.bold{
    font-weight:800;
}

.regular{
    font-weight:400;
}

/*-----------------------------------------------------------------*/
/*Welcome splash screen config*/
.welcome{
    display:none;
    position:fixed;
    z-index:1000;
    top:0;
    left:0;

    width:100%;
    height:100%;
    align-items:center;
    justify-content:center;
  
    cursor:pointer;
   
    color:var(--mainGreen);
    background-color: var(--primaryBackground);
}

.welcome.visible{
    display:flex;
    flex-wrap:wrap;
}

/*-----------------------------------------------------------------*/
/*Splash screen elements + animations*/
#welcome-popup.popup{
    width:fit-content;
    padding:30px;
    padding-bottom:5px;
    margin-bottom:15px;
    border: 1px solid var(--mainGreen);
    opacity:0;
    animation: popup 2s 1s ease forwards;
}

#welcome-fade{
    opacity:0;
    animation: welcome-fade 1s ease forwards;
}

#disclaimer-fade{
    opacity:0;
    animation: welcome-fade 6s 1s ease forwards;
}

@keyframes popup{
    from{opacity:0;}
    to{opacity:1;}
}

@keyframes welcome-fade{
    from{opacity:0;}
    to{opacity:1;}
}

@keyframes disclaimer-fade{
    from{opacity:0;}
    to{opacity:1;}
}
