/*Variables*/
:root{
    /*Primary colour palette for text & components*/
    --primaryBackground:#000000;
    --mainGreen:#33FF00;
    --subtleGreen:#4d7d53;
    --errorRed:#FE0100;
    --accentYellow:#f8f80e;
    --highlightWhite:#f7f7f7;

 

    /*Secondary colour palette for text & components | Change to this palette when screen turns red*/
    --secondaryBackground:#8B0018;
    --secondaryOrange:#EDEDED;
    --secondaryRed:#EE0053;
    --secondaryGreen:#D5FF2E;
    --secondarytBlue:#82E9EA;
    --secondaryGray:#F2F4F0;

    /*Font Sizes*/
    --h1Size:48px;
    --h2Size:28px;
    --h3Size:21px;
    --bodySize:18px;
}

/*-----------------------------------------------------------------*/

video{
    width:100%;
    display:block;
}

.video{
    width:300px;
    position:fixed;
    z-index:500;
    bottom:75px;
    left:40px;
    border:solid 1px var(--subtleGreen);
}

#video-fade{
    opacity:0;
    animation: video-fade 2s 2s ease forwards;
}

#video-fade.visible{
    opacity:1;
}

/*-----------------------------------------------------------------*/

/*Website display configurations*/
body{
    display:grid;
    margin:3em;
    overflow-y:hidden;

    /*Website typeface*/
    font-family:'JetBrains Mono';

    /*Website background colour*/
    background-color: var(--primaryBackground); 
    color:var(--mainGreen); 
}
/*-----------------------------------------------------------------*/

/*Scrollbar config*/
::-webkit-scrollbar{
    width:10px;
    background-color: #000000;
}

::-webkit-scrollbar-track {
    background-color:#8c8c8c52;
    margin-top:50px;
    margin-bottom:50px;
}

::-webkit-scrollbar-thumb {
    background-color:var(--mainGreen); 
    width:10px;
}

/*-----------------------------------------------------------------*/

/*Grid Containers*/
div.content-container{
    margin:20px;
    overflow-y:hidden;
    overflow-x:hidden;
    width:auto;
    height:fit-content;
    opacity:0%;

}

.number-list{
    float:left;
    padding-left:10px;
    text-align:right;
}


.text-container{
    align-content:center;
    padding:0px 80px 0px 80px;
    height:fit-content;
    display:flex; 
    flex-direction: column;
}

.header{
    display:flex; 
    position:fixed;
    flex-direction:column; 
    width:90%; 
    height:40px; 

    align-items:center; 
    justify-content:center; 
    text-align: center; 
    padding-left:30px; 
    padding-right:30px;
   
    top:10px; 
    left:50%; 
    transform: translateX(-50%);

    background-color: var(--primaryBackground); 
    border: 1px solid var(--mainGreen); 
}

.footer{
   display:flex; 
    position:fixed;
    flex-direction:column; 
    width:90%; 
    height:40px; 

    align-items:center; 
    justify-content:center; 
    text-align: center; 
    padding-left:30px; 
    padding-right:30px;
   
    bottom:15px; 
    left:50%; 
    transform: translateX(-50%);

    background-color: var(--primaryBackground); 
    border: 1px solid var(--mainGreen); 
}

.fixed-container{
   display:flex; 
   justify-content: space-between; 
   width:100%;
}

.fixed-text{
    color:var(--mainGreen); 
    margin:0; 
    font-size:12px; 
    font-weight:800;
    text-transform: uppercase;
}

/*-----------------------------------------------------------------*/

/*Font types*/
h1{
    font-size: var(--h1Size);
    color:var(--mainGreen);
    font-weight: 400;
    margin-top:5px;
}

h2{
    font-size:var(--h2Size);
    color:var(--mainGreen);
    font-weight:400;
    margin-top:5px;
}

h3{
    font-size:var(--h3Size);
    color:var(--mainGreen);
    font-weight:400;
    margin-top:5px;
}

p{
    font-size:var(--bodySize);
    margin-top:5px;
    line-height:1.6;
}


/*Span Text Layouts to allow for inline text, otherwise there's too much of a gap around the block elements (h1,h2,h3, etc)*/
.spanHeading{
    font-size: var(--h1Size);
    color:var(--mainGreen);
    font-weight: 800;
    margin-top:5px;
    margin-right:0;
    padding:0;
}

.spanSubheading{
    font-size: var(--h2Size);
    color:var(--mainGreen);
    font-weight: 400;
    margin-top:5px;
    margin-right:0;
    padding:0;
}

#inlineText h1,
#inlineText p {
    display: inline;
    vertical-align:baseline;
    line-height:1.6;
}

/*-----------------------------------------------------------------*/

/*For paragraph breaks*/
h4{
    font-size:16px;
    color:var(--subtleGreen);
    text-align: center; 
    border-bottom: 1px dashed var(--subtleGreen); 
    line-height: 0.1em;
    margin: 10px 0 20px;
}

/*For the background of the paragraph break*/
h4 span{ 
    background:var(--primaryBackground); 
    padding:0 10px; 
}

.breakLine{
    width:200px; 
    justify-content:center; 
    margin-left:auto; 
    margin-right:auto; 
    margin-top:100px;
    margin-bottom:100px;
}

/*Vertical connecting line between sentences*/
.vertical-line{
    width: 1px;
    background-color:var(--subtleGreen);
    height: 100%;
    float: left;
}

/*-----------------------------------------------------------------*/

/*Text Layout*/
.justifyRight{
    margin-left:auto;
    text-align:right;
}

/*Breaks between sentences in the paragraph*/
.break10{
    height:10vh;
}

.break20{
    height:20vh;
}

/*Text Box Dimesions (Sometimes it doesn't work so I have to put style in the div box anyways*/
.width50{
    width:50%;
}

.width60{
    width:60%;
}

.width70{
    width:70%;
}

.width80{
    width:80%;
}

.width90{
    width:90%;
}

/*-----------------------------------------------------------------*/

/*Text Colours*/
.textGreen{ 
    color:var(--mainGreen);
}

.textRed{ /*Used to emphasise something bad, negative or evil*/
    color:var(--errorRed);
}

.textSubtlegreen{ /*For comments, captions, inner monologue*/
    color:var(--subtleGreen);
}

.textYellow{ /*To highlight certain phrases and put emphasis or to denote something as positive*/
    color: var(--accentYellow);
}

.textBlack{ /*Used to contrast boxed text and make the text visible*/
    color:var(--primaryBackground);
}

.textBlue{ /*Used for one specific line*/
    color:#35d7ff;
}

.gradient-text-toRed{
    background-image: linear-gradient(var(--mainGreen), var(--errorRed));
    color: transparent;
    background-clip: text;
}

.gradient-text-toBlack{
    background-image: linear-gradient(180deg,rgba(254, 1, 0, 1) 51%, rgba(254, 1, 0, 0.4) 100%);
    color: transparent;
    background-clip: text;
}

.blur{
    height: 600px;
    -webkit-mask-image: linear-gradient(black, transparent);
    mask-image: linear-gradient (black, transparent);
}

/*-----------------------------------------------------------------*/

/*Text Box Colours*/
.boxRed{
    background-color:var(--errorRed); 
    color:var(--primaryBackground); 
    padding-left:5px;
    padding-right:5px;
    font-weight: 800; 
    width:fit-content;
}

.boxYellow{
    background-color:var(--accentYellow); 
    color:var(--primaryBackground); 
    padding-left:5px;
    padding-right:5px;
    font-weight: 800; 
    width:auto;
}

.boxGreen{
    background-color:var(--mainGreen); 
    color:var(--primaryBackground); 
    padding-left:5px;
    padding-right:5px;
    font-weight: 800; 
    width:fit-content;
}

/*-----------------------------------------------------------------*/

/*Font Styles*/
.italic{
    font-style: italic;
}

.bold{
    font-weight:800;
}

.regular{
    font-weight:400;
}

/*-----------------------------------------------------------------*/
/*Welcome splash screen config*/
.welcome{
    display:none;
    position:fixed;
    z-index:1000;
    top:0;
    left:0;

    width:100%;
    height:100%;
    align-items:center;
    justify-content:center;
  
    cursor:pointer;
   
    color:var(--mainGreen);
    background-color: var(--primaryBackground);
}

.welcome.visible{
    display:flex;
    flex-wrap:wrap;
}

/*-----------------------------------------------------------------*/
/*Splash screen elements + animations*/
#welcome-box.title-Box{
    width:fit-content;
    padding:30px;
    padding-bottom:5px;
    margin-bottom:15px;
    border: 1px solid var(--mainGreen);
    opacity:0;
    animation: title-Box 2s 1s ease forwards;
}

#welcome-fade{
    opacity:0;
    animation: welcome-fade 1s ease forwards;
}

#disclaimer-fade{
    opacity:0;
    animation: welcome-fade 6s 0.5s ease forwards;
}

#refresh-warning{
    font-size: 13px; 
    color:var(--accentYellow);
    opacity:0;
    animation: welcome-fade 7s 0.5s ease forwards;
}

@keyframes title-Box{
    from{opacity:0;}
    to{opacity:1;}
}

@keyframes welcome-fade{
    from{opacity:0;}
    to{opacity:1;}
}

@keyframes disclaimer-fade{
    from{opacity:0;}
    to{opacity:1;}
}

@keyframes refresh-warning{
    from{opacity:0;}
    to{opacity:1;}
}


/*-----------------------------------------------------------------*/
/*Hide elements*/
#header-footer{
    z-index:800;
    opacity:0;
    transition:opacity 0.2s ease-in-out;
}

#header-footer.visible{
    opacity:1;
}

/*Number list visible*/
#list1, #list2, #list3, #list4, #list5, #list6, #list7, #list8, #list9 {
    opacity:0;
    transition:opacity 0.2s ease-in-out;
}

#list1.visible{
    opacity:1;
}
#list2.visible{
    opacity:1;
}
#list3.visible{
    opacity:1;
}
#list4.visible{
    opacity:1;
}
#list5.visible{
    opacity:1;
}
#list6.visible{
    opacity:1;
}
#list7.visible{
    opacity:1;
}
#list8.visible{
    opacity:1;
}
#list9.visible{
    opacity:1;
}

/*-----------------------------------------------------------------*/
/*Line & Break Effect*/
#l1, #l2, #l3, #l4, #l5, #l6, #l7, #l8, #l9, #l10, #l11 {
    opacity:0;
    transition: opacity 0.1s linear;
}

#l1.visible{
    opacity:1;
}
#l2.visible{
    opacity:1;
}
#l3.visible{
    opacity:1;
}
#l4.visible{
    opacity:1;
}
#l5.visible{
    opacity:1;
}
#l6.visible{
    opacity:1;
}
#l7.visible{
    opacity:1;
}
#l8.visible{
    opacity:1;
}
#l9.visible{
    opacity:1;
}
#l10.visible{
    opacity:1;
}
#l11.visible{
    opacity:1;
}

#break1, #break2, #break3, #break4, #break5, #break6, #break7, #break8 {
    opacity:0;
}

#break1.visible{
    opacity:1;
}

#break2.visible{
    opacity:1;
}

#break3.visible{
    opacity:1;
}

#break4.visible{
    opacity:1;
}

#break5.visible{
    opacity:1;
}

#break6.visible{
    opacity:1;
}

#break7.visible{
    opacity:1;
}

#break8.visible{
    opacity:1;
}

/*-----------------------------------------------------------------*/
/*Red colour change*/
.redBg{
    background-color: var(--errorRed);
}

.redCol{
    background-color: var(--errorRed);
    color:var(--primaryBackground);
}

#red1, #red2 {
    background-color: var(--errorRed);
}

#red1.hidden{
    display:none;
}
#red2.hidden{
    display:none;
}
/*-----------------------------------------------------------------*/
/*Sentence-Paragraph effects (P1-P56)*/

#p1, #p2, #p3, #p4, #p5, #p6, #p7, #p8, #p9, #p10,
#p11, #p12, #p14, #p15, #p16, #p17, #p18, #p20,
#p21, #p22, #p23, #p24, #p25, #p26, #p27, #p28, #p29, #p30,
#p31, #p32, #p33, #p34, #p35, #p36, #p37, #p38, #p39, #p40,
#p41, #p42, #p43, #p44, #p45, #p46, #p47, #p48, #p49, #p50,
#p51, #p52, #p53, #p54, #p55, #p56 {
    opacity: 0;
    transition: opacity 0.1s linear;
}

#p13{
    opacity: 0;
    transition: opacity 4s linear;
}


#p19{
     opacity: 0;
    transition: opacity 8s linear;
}

#p1.visible{
    opacity:1;
}

#p2.visible{
    opacity:1;
}

#p3.visible{
    opacity:1;
}

#p4.visible{
    opacity:1;
}

#p5.visible{
    opacity:1;
}

#p6.visible {
    opacity: 1;
}

#p7.visible {
    opacity: 1;
}

#p8.visible {
    opacity: 1;
}

#p9.visible {
    opacity: 1;
}

#p10.visible {
    opacity: 1;
}

#p11.visible {
    opacity: 1;
}

#p12.visible {
    opacity: 1;
}

#p13.visible {
    opacity: 1;
}

#p14.visible {
    opacity: 1;
}

#p15.visible {
    opacity: 1;
}

#p16.visible {
    opacity: 1;
}

#p17.visible {
    opacity: 1;
}

#p18.visible {
    opacity: 1;
}

#p19.visible {
    opacity: 1;
}

#p20.visible {
    opacity: 1;
}

#p21.visible {
    opacity: 1;
}

#p22.visible {
    opacity: 1;
}

#p23.visible {
    opacity: 1;
}

#p24.visible {
    opacity: 1;
}

#p25.visible {
    opacity: 1;
}

#p26.visible {
    opacity: 1;
}

#p27.visible {
    opacity: 1;
}

#p28.visible {
    opacity: 1;
}

#p29.visible {
    opacity: 1;
}

#p30.visible {
    opacity: 1;
}

#p31.visible {
    opacity: 1;
}

#p32.visible {
    opacity: 1;
}

#p33.visible {
    opacity: 1;
}

#p34.visible {
    opacity: 1;
}

#p35.visible {
    opacity: 1;
}

#p36.visible {
    opacity: 1;
}

#p37.visible {
    opacity: 1;
}

#p38.visible {
    opacity: 1;
}

#p39.visible {
    opacity: 1;
}

#p40.visible {
    opacity: 1;
}

#p41.visible {
    opacity: 1;
}

#p42.visible {
    opacity: 1;
}

#p43.visible {
    opacity: 1;
}

#p44.visible {
    opacity: 1;
}

#p45.visible {
    opacity: 1;
}

#p46.visible {
    opacity: 1;
}

#p47.visible {
    opacity: 1;
}

#p48.visible {
    opacity: 1;
}

#p49.visible {
    opacity: 1;
}

#p50.visible {
    opacity: 1;
}

#p51.visible {
    opacity: 1;
}

#p52.visible {
    opacity: 1;
}

#p53.visible {
    opacity: 1;
}

#p54.visible {
    opacity: 1;
}

#p55.visible {
    opacity: 1;
}

#p56.visible {
    opacity: 1;
}

/*-----------------------------------------------------------------*/
/*Popup Images*/
.popup{
    width:fit-content;
    justify-content: center;
    align-items: center;
    padding:5px;
    border: 5px double var(--subtleGreen);
    background-color: var(--primaryBackground);

    z-index:400;
}

.popup img{
    width:auto;
    height:auto;
    max-width:300px;
    max-height:300px;
}

#popup1{
    position: absolute;
    left:150px;
    top:550px;
}

#popup2{
    position: absolute;
    right:150px;
    top:1000px;
}

#popup3{
    position: absolute;
    right:100px;
    top:1150px;
}

#popup4{
    position: absolute;
    right:225px;
    top:1300px;
}

#popup5{
    position: absolute;
    left:50px;
    top:1500px;
}

#popup6{
    position: absolute;
    left:75px;
    top:1700px;
}

#popup7{
    position: absolute;
    left:75px;
    top:2300px;
}

#popup8{
    position: absolute;
    right:225px;
    top:3700px;
}

#popup9{
    position: absolute;
    right:150px;
    top:3850px;
}

#popup10{
    position: absolute;
    right:450px;
    top:4060px;
}

#popup11{
    position: absolute;
    left:70px;
    top:4420px;
}

#popup12{
    position: absolute;
    right:490px;
    top:4890px;
}

#popup13{
    position: absolute;
    right:250px;
    top:4750px;
}

#popup14{
    position: absolute;
    left:200px;
    top:6200px;
}

#popup15{
    position: absolute;
    left:350px;
    top:6350px;
}

#popup16{
    position: absolute;
    right:45px;
    top:6570px;
}

#popup17{
    position: absolute;
    right:200px;
    top:9100px;
}

#popup1,#popup2,#popup3,#popup4,#popup5,#popup6,#popup7,#popup8,#popup9,#popup10,#popup11,#popup12,#popup13,#popup14,#popup15,#popup16,#popup17 {
    opacity:0;
    transition: transform 0.05s linear;
}

#popup1.pop{
    transform:scale(1.1);
    opacity:1;
}

#popup2.pop{
    transform:scale(1.1);
    opacity:1;
}

#popup3.pop{
    transform:scale(1.1);
    opacity:1;
}

#popup4.pop{
    transform:scale(1.1);
    opacity:1;
}

#popup5.pop{
    transform:scale(1.1);
    opacity:1;
}

#popup6.pop{
    transform:scale(1.1);
    opacity:1;
}

#popup7.pop{
    transform:scale(1.1);
    opacity:1;
}

#popup8.pop{
    transform:scale(1.1);
    opacity:1;
}

#popup9.pop{
    transform:scale(1.1);
    opacity:1;
}

#popup10.pop{
    transform:scale(1.1);
    opacity:1;
}

#popup11.pop{
    transform:scale(1.1);
    opacity:1;
}

#popup12.pop{
    transform:scale(1.1);
    opacity:1;
}

#popup13.pop{
    transform:scale(1.1);
    opacity:1;
}

#popup14.pop{
    transform:scale(1.1);
    opacity:1;
}

#popup15.pop{
    transform:scale(1.1);
    opacity:1;
}

#popup16.pop{
    transform:scale(1.1);
    opacity:1;
}

#popup17.pop{
    transform:scale(1.1);
    opacity:1;
}


